body {
  box-sizing: border-box;
  font-size: 0.8em;
  font-family: 'Lato', sans-serif;
  background: #77bbe0; }

.heroText {
  margin: 8em 0 4em 0;
  color: white;
  text-align: center; }

.shortener {
  display: block;
  width: 94%;
  margin: 0 auto; }

.inputForm {
  position: relative;
  display: block;
  margin-bottom: 20px;
  overflow: hidden; }
  .inputForm .inputFld {
    width: 92%;
    border: 0;
    border-radius: 3px;
    padding: 1em 1.2em; }
  .inputForm .submitBtn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #ee6123;
    color: white;
    padding: 1em 1.2em; }

.outputUrl {
  margin-bottom: 4px;
  padding: 1em 1.2em;
  border-radius: 3px;
  background-color: white; }
  .outputUrl a {
    text-decoration: none;
    color: #ee6123; }
  .outputUrl p {
    margin: 4px; }

@media screen and (min-width: 768px) {
  body {
    font-size: 1em; }
  .heroText {
    font-size: 1.4em; }
  .shortener {
    width: 720px; } }
