$width: 94%

body
  box-sizing: border-box
  font-family: 'Lato', sans-serif
  background: #77bbe0

.shortener
  display: block
  width: $width
  margin: 0 auto

.inputForm
  display: block
  input
    border: 0
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px
    padding: 1em 1.2em
  .submitBtn
    border: 0
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
    background: #ee6123
    color: white
    padding: 1em 1.2em

.outputUrl
  background-color: white
  a
